<li id="<%= dom_id(commit) %>">
  <p><%= commit.message %></p>
  <%= image_tag commit.user.photo_url, alt: commit.user.full_name, class: "avatar", data: {popover_target: "tooltip"}, onerror: "this.src='#{image_url "logo.png"}'" %>

  <div class="votes-box">
    <div class="votes">
      <%= form_with(model: commit.votes.new) do |f| %>
        <%= f.hidden_field :commit_id %>
        <%= f.hidden_field :value, value: vote ? 0 : 1 %>
        <button type="submit" class="btn btn-light btn-sm" title="Upvote">
          <i
            class="fas fa-caret-up vote upvote <%= 'green' if vote&.value == 1 %>"
          ></i>
        </button>
      <% end %>

      <%= form_with(model: commit.votes.new) do |f| %>
        <%= f.hidden_field :commit_id %>
        <%= f.hidden_field :value, value: vote ? 0 : -1 %>
        <button type="submit" class="btn btn-light btn-sm" title="Downvote">
          <i
            class="fas fa-caret-down vote downvote <%= 'red' if vote&.value == -1 %>"
          ></i>
        </button>
      <% end %>
    </div>
    <div class="vote-number">
      <%= commit.score %>
    </div>
  </div>
</li>
