<div class="container commits">
  <div class="header">
    <div class="row">
      <div class="col-sm-auto">
        <%=
          form_with(
            url: commits_path,
            method: :get,
            data: { controller: "submit-form" }
          ) do |f|
        %>
          <%=
            f.select(
              :batch,
              @batches.map { |b| ["Batch ##{b}", b] },
              {
                selected: params[:batch],
              },
              data: { action: "change->submit-form#submit" },
            )
          %>
          <%=
            f.select(
              :username,
              @users.map { |u| [u.full_name, u.github_username] },
              {
                selected: params[:username],
                include_blank: "All alumni",
              },
              data: { action: "change->submit-form#submit" },
            )
          %>
          <noscript>
            <%= submit_tag "Search", class: "btn btn-primary" %>
          </noscript>
        <% end %>
      </div>
      <div class="col text-sm-right">
        <p><%= link_to "About", about_path %></p>
      </div>
    </div>

    <h1 class="commits-count">
      <span data-annotate-target="highlight"><%= @pagy.count %></span>
      <%= "commit".pluralize(@pagy.count) %>
    </h1>
  </div>
  <div class="scrollable">
    <ul class="commit-listing mt-3">
      <% @commits.each do |commit| %>
        <%=
          render(
            partial: "commits/commit",
            locals: {
              commit: commit,
              vote: @session_votes_by_commit_id[commit.id],
            }
          )
        %>
      <% end %>
    </ul>
  </div>

  <%== pagy_bootstrap_nav @pagy if @pagy.pages > 1 %>
</div>
