<div class="container">
  <h1><%= pluralize @total_count, "commit" %></h1>

  <%= form_tag commits_path, method: :get do %>
    <%=
      select_tag(
        :batch,
        options_for_select(@batches, params[:batch]),
        prompt: "Batch number…",
      )
    %>
    <%=
      select_tag(
        :username,
        options_for_select(@usernames, params[:username]),
        prompt: "User…",
      )
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>


  <ul class="commit-listing mt-3">
    <% @commits.each do |commit| %>
      <li>
        <p><%= commit.message %></p>
        <p><%= commit.user.full_name %></p>
        <div class="votes-box">
          <div class="votes">
            <i
              class="fas fa-caret-up upvote vote"
              data-commit-id="<%= commit.id %>"
              data-value="1"
              title="Upvote"
            ></i>
            <i
              class="fas fa-caret-down downvote vote"
              data-commit-id="<%= commit.id %>"
              data-value="-1"
              title="Downvote"
            ></i>
          </div>
          <div class="vote-number" id="commit-<%= commit.id %>">
            <%= commit.score %>
          </div>
        </div>
      </li>
    <% end %>
    <!-- Example -->
    <li>
      <p>Lorem ipsum, dolor, sit amet consectetur adipisicing elit. Harum, illum?</p>
      <p>Bob Morane</p>
      <div class="votes-box">
        <div class="votes">
          <i class="fas fa-caret-up upvote"></i>
          <i class="fas fa-caret-down downvote"></i>
        </div>
        <div class="vote-number">73</div>
      </div>
    </li>
  </ul>

</div>
