<div class="container">
  <h1><%= pluralize @total_count, "commit" %></h1>

  <%= form_tag commits_path, method: :get do %>
    <%=
      select_tag(
        :batch,
        options_for_select(@batches, params[:batch]),
        prompt: "Batch number…",
      )
    %>
    <%=
      select_tag(
        :username,
        options_for_select(@usernames, params[:username]),
        prompt: "User…",
      )
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <ul class="commit-listing mt-3">
    <% @commits.each do |commit| %>
      <li>
        <p><%= commit.message %></p>
        <p><%= commit.user.full_name %></p>
        <div class="votes-box">
          <div class="votes">
            <%= render partial: "shared/vote", locals: { commit: commit } %>
          </div>
          <div class="vote-number" id="commit-<%= commit.id %>">
            <%= commit.score %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
