<!DOCTYPE html>
<html>
  <head>
    <title>Prl</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload', defer: true %>
  </head>

  <body class="<%= params[:controller]%>-<%= params[:action] %>" data-controller="popover annotate">
    <%= render "shared/background-icons" %>
    <%= yield %>
    <% if current_user %>
      <%= link_to 'Log out', destroy_user_session_path, method: :delete  %>
    <% else %>
      <%= link_to 'sign-in with github', user_github_omniauth_authorize_path %>
    <% end %>
  </body>
</html>
